PRELOAD_EMBED = True
PRELOAD_MATRICE = True
GENERATE_TABULAR_IMAGE = False

TABULAR_AUTH = ["Pushkin, Aleksandr Sergeevich (1799-1837)", 
                "Tolstoy, Leo (1828-1910)", 
                "Dostoyevsky, Fyodor (1821-1881)", 
                "Gogol, Nikolai Vasilevich (1809-1852)",
                "Chekhov, Anton Pavlovich (1860-1904)", 
                "Chernyshevsky, Nikolay Gavrilovich (1828-1889)",
                "Turgenev, Ivan Sergeevich (1818-1883)", "Herzen, Aleksandr (1812-1870)", 
                "Belinsky, Vissarion Grigoryevich (1811-1848)",
                "Lenin, Vladimir Ilich (1870-1924)"]

CLUSTER_AUTH = ["Pushkin, Aleksandr Sergeevich (1799-1837)",
                "Tolstoy, Leo (1828-1910)",
                "Dostoyevsky, Fyodor (1821-1881)",
                "Gogol, Nikolai Vasilevich (1809-1852)",
                "Chekhov, Anton Pavlovich (1860-1904)",
                "Chernyshevsky, Nikolay Gavrilovich (1828-1889)",
                "Turgenev, Ivan Sergeevich (1818-1883)",
                "Herzen, Aleksandr (1812-1870)",
                "Lenin, Vladimir Ilich (1870-1924)",
                "Gorky, Maksim (1868-1936)",
                "Blok, Aleksandr Aleksandrovich (1880-1921)",
                "Mayakovsky, Vladimir (1893-1930)",
                "Bunin, Ivan Alekseevich (1870-1953)",
                "Bely, Andrey (1880-1934)",
                "Merezhkovsky, Dmitry Sergeyevich (1865-1941)",
                "Solovyov, Vladimir Sergeyevich (1853-1900)",
                "Aksakov, Konstantin Sergeevich (1817-1860)",
                "Briusov, Valerii IAkovlevich (1873-1924)",
                "Gumilev, N. (1886-1921)",
                "Plekhanov, Georgii Valentinovich (1856-1918)",
                "Vernadskii, V. I. (1863-1945)",
                "Stravinsky, Igor (1882-1971)",
                "Repin, Ilia Efimovich (1844-1930)",
                "Rimsky-Korsakov, Nikolay (1844-1908)",
                "Kliuchevskii, V. O. (1841-1911)",
                "Tiutchev, F. I. (1803-1873)",
                "Fet, A. A. (1820-1892)",
                "Platonov, Sergei Fedorovich (1860-1933)",
                "Trotsky, Leon (1879-1940)",
                "Berdiaev, Nikolai (1874-1948)",
                "Kovalevskii, M. M. (1851-1916)",
                "Saltykov, Mikhail Evgrafovich (1826-1889)",
                "Gippius, Z. N. (1869-1945)",
                "Kuprin, A. I. (1870-1938)",
                "Sologub, Fyodor (1863-1927)",
                "Leskov, N. S. (1831-1895)",
                "Pisemskii, A. F. (1820-1881)",
                "Ostrovsky, Aleksandr Nikolaevich (1823-1886)",
                "Marr, Nikolai IAkovlevich (1864-1934)",
                "Kostomarov, Nikolai Ivanovich (1817-1885)",
                "Pirogov, Nikolai Ivanovich (1810-1881)",
                "Rubinstein, Anton (1829-1894)",
                "Krylov, A. N. (1863-1945)",
                "Miliukov, P. N. (1859-1943)",
                "Franko, Ivan (1856-1916)",
                "Dobroliubov, N. A. (1836-1861)",
                "Katkov, M. N. (1818-1887)",
                "Sechenov, I. M. (1829-1905)",
                "Uspenskii, Gleb Ivanovich (1843-1902)",
                "Veselovskii, Alexandr Nikolaevich (1838-1906)",
                "Mendeleyev, Dmitry Ivanovich (1834-1907)",
                "Timiriazev, K. A. (1843-1920)",
                "Belinsky, Vissarion Grigoryevich (1811-1848)",
                "Tolstoy, Aleksey Konstantinovich (1817-1875)",
                "Zhukovskii, Vasilii Andreevich (1783-1852)",
                "Delvig, A. A. (1798-1831)",
                "Nekrasov, Nikolai Alekseevich (1821-1877)",
                "Goncharov, Ivan Aleksandrovich (1812-1891)",
                "Baratynskii, E. A. (1800-1844)",
                "Grech, Nikolai Ivanovich (1787-1867)",
                "Derzhavin, Gavriil Romanovich (1743-1816)",
                "Veselovskii, Stepan Borisovich (1876-1952)",
                "Khodasevich, V. F. (1886-1939)",
                "Lunacharsky, Anatoly Vasilievich (1875-1933)",
                "Annenkov, P. V. (1813-1887)",
                "Chukovskii, Kornei (1882-1969)",
                "Shestov, Lev (1866-1938)",
                "Rozanov, V. V. (1856-1919)",
                "Kliuev, Nikolai Alekseevich (1887-1937)",
                "Buslaev, F. I. (1818-1897)",
                "Miliutin, V. A. (1826-1855)",
                "Korolenko, Vladimir Galaktionovich (1853-1921)",
                "Afanasev, A. N. (1826-1871)",
                "Vavilov, N. I. (1887-1943)",
                "Florenskii, P. A. (1882-1937)",
                "Potebnia, Aleksandr Afanasevich (1835-1891)",
                "Zaitsev, Boris (1881-1972)",
                "Voloshin, Maksimilian Aleksandrovich (1877-1932)",
                "Garshin, V. M. (1855-1888)",
                "Prishvin, Mikhail Mikhailovich (1873-1954)",
                "Glazunov, Aleksandr Konstantinovich (1865-1936)",
                "Merezhkovsky, Dmitry Sergeyevich (1865-1941)",
                "Briusov, Valerii IAkovlevich (1873-1924)",
                "Suvorin, A. S. (1834-1912)",
                "Veselovskii, Alexandr Nikolaevich (1838-1906)",
                "Sergeevich, Vasilii Ivanovich (1832-1910)",
                "Strakhov, N. (1828-1896)",
                "Liapunov, B. M. (1861-1943)",
                "Karataev, Ivan Prokof'evich (1817-1886)"]